name: Render README.md
on:
  push:
    branches:
      - main
  repository_dispatch:
    types:
      - blog-updated
  workflow_dispatch:

jobs:
  render-readme:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v3
      - uses: taiki-e/install-action@v2
      - run: mise run build-readme
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Render README.md
